<p>
  
  <a href="witaj">Link do strony "witaj" z zapisu HTML</a>
  
</p>

<p>

	<%= link_to('link do strony "witaj" z zapisu RoR', {:action=>'witaj'}) %>

</p>

<p>

	<%= link_to('link do strony "index" z zapisu RoR', {:action=>'index'}) %>

</p>